{% extends "lab_10/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block header %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
        <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>  
      </ul>
      
    </div>


  </div><!-- /.container-fluid -->
</nav>  
{% endblock %}

{% block content %}
<div class="row">
    <center><img src="{{movie.poster}}" class="img-responsive img-thumbnail"></center>
    <h1 style="text-align: center;"> {{ movie.title}} </h1>
    <h3 style="text-align: center;"> {{ movie.year}} </h3>
    <hr>
    <h2>Details</h2>
    <h5> <b>Production : </b> {{ movie.production}} </h5>
    <h5> <b>Director : </b> {{ movie.director}} </h5>
    <h5> <b>Released :</b> {{ movie.released}} </h5>
    <h5> <b>Genre : </b>{{ movie.genre}} </h5>
    <h5> <b>IMDB : </b>{{ movie.imdbrating}} </h5>
    <h5> <b>Duration : </b>{{ movie.runtime}} </h5>
    <h5> <b>Rated : </b>{{ movie.rated}} </h5>
    <hr>
    <h2>Casts</h2>
    <h5> {{ movie.actors}} </h5>
    <hr>
    <h2>Synopsis</h2>
    <h5> {{ movie.plot}} </h5>
    <hr>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
