
.flex-item:hover {
    background-color: #F1F7ED;
  }
  
  .list-watch {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  .card-deck {
    enable-flex: true;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; 
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
  }
  .card-deck .card {
    display: block;
    align-self: center;
    flex-basis: 25%; /* change this value for each breakpoint*/
  }
  
  /* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
  @media only screen and (max-width: 768px) {
    .flex {
      bottom: -50px;
    }
  
    .flex-item{
      padding: 0 15px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }
  
  