{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="font-family: Lato;">
    <p align="center">Portofolio</p>
</h1>

<div id="over" class="text-center">
    <img src= 'https://scontent-sit4-1.cdninstagram.com/t51.2885-19//21576876_130666917569140_6724301038859321344_n.jpg' class = "img-circle" width = "300" height="300" />
</div>

<hr/>
<center><section name="bio">
    <h2 style="font-family: Lato">Bio</h2>
    <p style="font-family: Lato light">
        {{content}}
    </p>    
</section></center>

<hr/>
<section name="about_me">
    <h2style="font-family: Lato">List</h2>
    <ulstyle="font-family: Lato light">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section name="form">
    <h2 style="font-family: Lato">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default" style="font-family: Lato">Submit</button>
    </form>
</section>

{% endblock %}
